body{
    justify-content: center;
    align-items: center;
    height: 100 vh;
    margin: 0;
    background-image: url(https://source.unsplash.com/weekly?landscape);
    background-size: cover;
    font-family: 'Lato', sans-serif;
}
h2{
    margin: 0;
}
.top-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cityName{
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: auto;
    margin-top: 60px;
    color: white;
    text-shadow: 1px 1px 0 black,
                 -1px 1px 0 black,
                 1px -1px 0 black,
                 -1px -1px 0 black;

}
.cityName h1{
    font-size: 45px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
}
.sbox{
    padding: 2em;
    margin: 30px 0;
    border-radius: 43px;
    background: rgba(0, 0, 0, 0.841);
}
.sbox .search-bar{
    outline: none;
    border: none;
    padding: 0.7em;
    border-radius: 20px;
    background: rgba(190, 190, 190, 0.137);
    color: white;
    font-family: inherit;
    font-size: 100%;
}
.sbox button {
    margin: 0.5em;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    border: none;
    background: rgba(190, 190, 190, 0.137);
    color: white;
    transition: .5s;
    cursor: pointer;
}
.sbox button:hover{
    background: rgba(190, 190, 190, 0.282);
}
.weather{
    color: white;
    padding: 20px 2em;
    margin: 10px;
    border-radius: 43px;
    background: rgba(0, 0, 0, 0.841);
    width: 100%;
    max-width: 250px;
}
.weather .max{
    margin-bottom: 10px;
}
.weather .desc{
    text-transform: capitalize;
    margin: 10px;
}
.btn{
    position: relative;
    left: 30%;
    top: 8px;
    background-color: rgba(0, 80, 252, 0.27);
    border: none;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    margin: 4px 2px;
    cursor: pointer;
}
.btn2{
    position: relative;
    left: 10%;
    top: 8px;
    background-color: rgba(0, 252, 8, 0.27);
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 4px 2px;
    cursor: pointer;
}
.flex{
    display: flex;
    align-items: center;
}
.load {
    visibility: hidden;
}
.hidden{
    display: none;
}
.info {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  

  .info-content {
    color: white;
    background-color: rgba(0, 0, 0, 0.914);
    margin: 10% auto;
    padding: 20px;
    padding-bottom: 50px;
    width: 250px; 
    height: 475px;
    border-radius: 50px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }